# Helper scripts
start-*.bat
start-*.ps1

# IDEs
.idea/
*.iml
.vscode/

# Build artifacts
target/
build/
node_modules/
dist/
*.log

# OS
Thumbs.db
Desktop.ini

# Secrets (Double check)
credentials.json
**.env
.env
.env.local
.env.production

**/*.class
**/generated-sources/

# Specifics
code/backend/help.md
code/backend/jconsole.exe

# Docker
code/backend/data/
postgres_data/
